1. Merge two vector in single vector

In [ ]:
a<-c("Berlin","Moscow","Tokyo","Nairobi","Denver");

b<-c("Dubai","Rio","Oslo","Helsinki","lisbon");

c<-c(a,b);

reverse_chars<- function(string)

{
 
 string_split = strsplit(string, split = "")

  rev_order = nchar(string):1

  reversed_chars = string_split[[1]][rev_order]

  paste(reversed_chars, collapse = "")

} 

for (val in c)

{

  print(reverse_chars(val))

}

2.Create two data tables having name, age, DoJ, DoR, empcode,salary

In [ ]:
install.packages(data.table)
library(data.table)

#creating Table one with ten records
Table1 <- data.table(
  name<-c("Roshan","varun","Bagavathi","Keerthi","hari","Mouli","bala","Keerthi","hasan","vijay"),
  age<-c(21,21,22,21,24,25,27,28,26,25),
  DOJ<-c("2001-20-01","2021-12-21","2021-21-10","2010-15-10","2002-16-01","2010-28-02","2020-28-02","2000-15-10","2000-29-02","2010-24-12"),
  DOR<-c("2051-06-09","2060-12-12","2024-24-10","2026-31-02","2027-27-10","2080-29-20","3000-30-03","2090-10-02","2020-29-10","2040-25-10"),
  empcode<-c(1,2,3,4,5,6,7,8,9,10),
  salary<-c(1000,2000,10000,4000,10000,1500,12000,1100,1900,2000))

print(Table1)

#creating Table two with ten records
Table2 <- data.table(
  name<-c("ragavan","shankar","Lokesh","Keerthi","joseph","Pranesh","Mani","hasan","Chandru","aravindh"),
  age<-c(25,16,21,23,24,25,26,27,29,30),
  DOJ<-c("2001-20-01","202112-12-","2021-12-10","2010-15-10","2002-16-01","2010-02-28","2020-10-20","2000-10-12","2000-02-10","2010-12-10"),
  DOR<-c("06-09-2051","12-12-2060","24-10-2024","31-02-2026","27-10-2027","29-20-2080","30-03-3000","10-02-2090","29-10-2020","25-10-2040"),
  empcode<-c(11,12,13,14,15,15,17,18,19,20),
  salary<-c(1000,2000,1000,4000,1000,1500,12000,1100,1900,2000))  
print(Table2)

#filtering duplicate rows
Table1<-unique(Table1,by ="V2")
Table2<-unique(Table2,by ="V2")

#Print salary above 5000
con1 = Table2[salary > 5000]
print(con1)

# Print those who are receiving salary in between 1000 and 10000
con2 = Table2[salary > 1000& salary<10000]
print(con2)

# Print those employees whose age is greater than 50
con3 = Table2[age>50]
print(con3)

#Print those employees who have joined the company in less than one year
Oneyear<-Sys.Date()-365
print(Oneyear)

con3 = Table1[as.Date(DOJ)<as.Date("2020-11-13")]
print(con3)

A<-(Sys.Date()>as.Date("2020-10-2"))
print(a)

3. Mean, Median, Mode and Standard Deviation

In [ ]:
x <- c(12,7,3,4.2,18,2,54,-21,8,-5)
result.mean<- mean(x)
print(result.mean)
median.result<- median(x)
print(median.result)
result <- getmode(x)
print(result)

4. correlation

In [ ]:
x<-c(11, 35, 23, 12, 16, 18, 28, 32, 46, 39)
y<-c(46, 35, 33, 14, 18, 39, 43, 11, 10, 23)
sum (x*y)
n<-sum(x*y)
a<-sum(x)
b<-sum(y)
x1<-sqrt((10*sum(x*x))-a*a)
y1<-sqrt((10*sum(y*y))-b*b)
print(x1)
print(y1)
r<-(10*n-a*b)/(x1*y1)
print(r)


5. Linear Regression with mtcars Dataset

In [ ]:
input <- mtcars[,c("mpg","disp")]
print(head(input))
a<-lm(mpg~disp,data=input)
print(a)
plot(input$disp,input$mpg,col = "blue",main = "Miles Per Gallon & Displacement Regression",
abline(lm(input$mpg~input$disp)),cex = 1.3,pch = 16,xlab = "Displacement ",ylab = "Miles Per Gallon")

6. Logistic Regression

In [ ]:
input <- mtcars[,c("am","cyl","hp","wt")]
print(head(input))
input <- mtcars[,c("am","cyl","hp","wt")]
am.data = glm(formula = am ~ cyl + hp + wt, data = input, family = binomial)
print(summary(am.data))


7. Multiple Linear Regression

In [ ]:
input <- mtcars[,c("mpg","disp","hp","wt")]
print(head(input))
model <- lm(mpg~disp+hp+wt, data = input)
print(model)
cat("# # # # The Coefficient Values # # # ","\n")
a <- coef(model)[1]
print(a)
Xdisp<- coef(model)[2]
Xhp<- coef(model)[3]
Xwt<- coef(model)[4]
print(Xdisp)
print(Xhp)
print(Xwt)
x1 = 221
x2 = 102
x3 = 2.91
Y = 37.15+(-0.000937)*x1+(-0.0311)*x2+(-3.8008)*x3
layout(matrix(c(1,2,3,4),2,2)) # optional 4 graphs/page
plot(model)

8. Poisson Regression

In [ ]:
input <- warpbreaks
print(head(input))
output <-glm(formula = breaks ~ wool+tension, data = warpbreaks,
             family = poisson)
print(output)

In [ ]:
library("readxl")
my_data<- read_excel("/input.xlsx")
print(my_data)

In [ ]:
result.mean<- mean(my_data$Salary,trim = 0.3)
print(result.mean)

In [ ]:
median.result<- median(my_data$Salary)
print(median.result)

In [ ]:
getmode<- function(v) {
   uniqv<- unique(v)
   uniqv[which.max(tabulate(match(v, uniqv)))]
}
result <- getmode(my_data$Salary)
print(result)

In [ ]:
library(XML)
library(RCurl)
library(stringr)
library(plyr)
# Read the URL.
url<- "http://www.omegahat.net"
# Gather the html links present in the webpage.
links <- getHTMLLinks(url)
filenames <- links[str_detect(links, "JCMB_2015")]
# Store the file names as a list.
filenames_list<- as.list(filenames)
download.file("http://www.omegahat.net","webfile")
try(getHTMLLinks("http://www.geos.ed.ac.uk/~weather/jcmb_ws/"))
print(links)
# Identify only the links which point to the JCMB 2015 files.
filenames <- links[str_detect(links, "JCMB_2015")]
print(filenames)
# Store the file names as a list.
filenames_list<- as.list(filenames)
print(filenames_list)
# Create a function to download the files by passing the URL and filename list.
downloadcsv<- function (mainurl,filename) {
  filedetails<- str_c(mainurl,filename)
  download.file(filedetails,filename)
}
print(downloadcsv())

10 Charts and Graphs

A) Bar Chart

In [ ]:
H <- c(7,12,28,3,41)
M <- c("Mar","Apr","May","Jun","Jul")
barplot(H,names.arg=M,xlab="Month",ylab="Revenue",col="blue",main="Revenue chart",border="red")

B) Box Plot

In [ ]:
mtcars
input <- mtcars[,c('mpg','cyl')]
print(head(input))
boxplot(mpg ~ cyl, data = mtcars, xlab = "Number of Cylinders",ylab = "Miles Per Gallon", main = "Mileage Data")

C) Pie Chart

In [ ]:
x <- c(21, 62, 10, 53,76)
labels <-  c("London","NewYork","Singapore","Mumbai","Chennai")
piepercent<- round(100*x/sum(x), 1)
pie(x, labels = piepercent, main = "City pie chart",col = rainbow(length(x)))
legend("topleft", c("London","NewYork","Singapore","Mumbai","Chennai"), cex = 0.5,
fill = rainbow(length(x)))

D) Histogram

In [ ]:
v <- c(9,13,21,8,36,22,12,41,31,33,19)
hist(v,xlab = "Weight",col = "green",border = "red", xlim = c(0,40), ylim = c(0,5),
     breaks = 5)

E) Line Plot

In [ ]:
v <- c(7,12,28,3,41)
t <- c(14,7,6,19,3)
plot(v,type = "o",col = "red", xlab = "Month", ylab = "Rain fall", 
     main = "Rain fall chart")
lines(t, type = "o", col = "blue")

11 Distributions

a)Binomial Distribution

In [ ]:
dbinom()
x <- seq(0,50,by = 1)
y <- dbinom(x,50,0.5)
plot(x,y)
pbinom()
x <- pbinom(26,51,0.5)

print(x)

qbinom()
x <-qbinom(0.25,51,1/2)

print(x)

rbinom()
x <-rbinom(8,150,.4)

print(x)

B) Poisson Distribution

In [ ]:
output <-glm(formula = breaks ~ wool+tension, data = warpbreaks,
             family = poisson)
print(summary(output))

c)Continuous Uniform Distribution

In [ ]:
runif(15, min=1, max=3) 

qunif() 
min <- 0
max <- 40
qunif(0.2, min = min, max = max)

 
dunif()
x <- 5:10
dunif(x, min = 1, max = 20)
 
punif()
min <- 0 
max <- 60
punif(15 , min =min , max = max)

d)Exponential Distribution

e)Normal Distribution

f)Chi-Squared Distribution

15 .Guna’s theory

In [ ]:
guna<-read.csv("guna1.csv")
 head(guna)
barplot(table(guna$gunas),col="green")
xyplot(Apptitude ~ Attitude ,data=guna)
Library(lattice)
xyplot(Apptitude ~ Attitude | gunas,data=guna,layout=c(3,1))
Library(ggplot2)
qplot(Attitude,Apptitude,data=guna)
boxplot(Attitude ~ Apptitude, guna,xlab="Attitude",ylab="Apptitude")
Base plot for annotation
with(guna,plot(Attitude,Apptitude),main="Attitude Vs Apptitude")
with(subset(guna,gunas=="Rajasic"),points(Attitude,Apptitude,col="Blue"))
 with(subset(guna,gunas=="Sattvic"),points(Attitude,Apptitude,col="Red"))
 with(subset(guna,gunas=="Tamasic"),points(Attitude,Apptitude,col="Green"))
legend("bottomright",pch=1,col=c("green","blue","red"),legend=c("Tamasic","Rajasic","Sattvic"))
with(guna,plot(Attitude,Apptitude),main="Attitude Vs Apptitude")
model<-lm(Attitude ~ Apptitude,guna)
abline(model,lwd=4)
abline(model,lwd=2)

library(lattice)
xyplot(Attitude~Apptitude|Gender,data=guna,layout=c(3,1))
xyplot(Attitude ~ Apptitude | gunas, guna,
  group = Gender,
       grid = TRUE,
       scales = list(x = list(log = 10, equispaced.log = FALSE)))
xyplot(Attitude ~ Apptitude | gunas, guna1,
group = Gender, xlab="Attitude", ylab="Apptitude",
pch=c(3,0), col=c("blue", "red"), cex=0.5,
main="Attitude vs Apptitude ",
key=list(text=list(c("Female", "Male")),
points=list(pch=c(3,0), col=c("blue", "red")), columns=2))
xyplot( Number + Letter + Verbal + Logical+Non.Verbal +analytical ~Attitude , groups = Gender , outer =TRUE , data =guna1 , auto.key = list ( columns =2) )
pdf(file="myplot1.pdf")
with(guna1,plot(Attitude,Apptitude))
title(main="Attitude Vs Apptitude")
dev.off()
set.seed(1234)
par(mar = c(0, 0, 0, 0))
x <- rnorm(12, mean = rep(1:3, each = 4), sd = 0.2)
y <- rnorm(12, mean = rep(c(1, 2, 1), each = 4), sd = 0.2)
plot(x, y, col = "blue", pch = 19, cex = 2)
text(x + 0.05, y + 0.05, labels = as.character(1:12))
dataFrame<- data.frame(x = x, y = y)
dist(dataFrame)
dataFrame<- data.frame(x = x, y = y)
distxy<- dist(dataFrame)
hClustering<- hclust(distxy)
plot(hClustering)

16.Analysis of variance (ANOVA)

In [ ]:
input <- mtcars[,c("am","mpg","hp")]
print(head(input))
input <- mtcars
result <- aov(mpg~hp*am,data = input)
print(summary(result))

In [ ]:
input <- mtcars
result <- aov(mpg~hp+am,data = input)
print(summary(result))

In [ ]:
input <- mtcars
result1 <- aov(mpg~hp*am,data = input)
result2 <- aov(mpg~hp+am,data = input)
print(anova(result1,result2))

In [ ]:
print(input)
result1 <- aov(mpg~hp*cyl,data = input)
result2 <- aov(mpg~hp+cyl,data = input)
print(anova(result1,result2))

In [ ]:
print(anova(result1,result2))

17.Wilcox on signed-rank test

In [ ]:
set.seed(1234)
myData = data.frame(
name = paste0(rep("R_", 10), 1:10),
weight = round(rnorm(10, 30, 2), 1)
)
wilcox.test(myData$weight, mu = 25,
alternative = "less")
print(result)

18.Time Series Analysis

19.Decision Trees on any dataset

In [ ]:
install.packages("party")
library(party)
print(head(readingSkills))
library(party)
print(head(readingSkills))
input.dat <- readingSkills[c(1:105),]
output.tree<- ctree(
nativeSpeaker ~ age + shoeSize + score, 
  data = input.dat)
plot(output.tree)

20.Random Forest using Titatnic dataset

In [ ]:
install.packages("randomForest")
install.packages("titanic")
library(titanic)
print(head(Titanic))
library(randomForest)
output.forest<- randomForest(Class ~Sex, data = Titanic)
print(output.forest) 
print(importance(output.forest,type = 2))

21 Survival analysis

In [ ]:
install.packages("survival")
library("survival")
print(head(pbc))
library("survival")
survfit(Surv(pbc$time,pbc$status == 2)~1)
plot(survfit(Surv(pbc$time,pbc$status == 2)~1))